.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    transition: 0.6s linear;
}

.header.sticky {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.header .logo {
    color: var(--first-color);
    font-weight: 600;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .4s linear;
    padding: 18px 0;
}

.header.sticky .header-wrapper {
    padding: 10px 0;
}

.nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-link {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--first-color);
  font-size: 1.1rem; /* Было var(--normal-font-size), стало чуть крупнее */
  letter-spacing: 0.5px; /* Немного больше интервал */
  transition: color 0.3s ease, transform 0.2s ease;
  padding: 10px 15px; /* Чуть больше “кликабельная зона” */
}

.nav-link:hover {
  color: var(--second-color);
  transform: translateY(-2px);
}

.nav-link.active {
  color: var(--second-color);
  font-weight: 600;
}

.nav-menu-btn {
    display: none;
}
@media (max-width:980px) 

{
    .nav-menu-btn {
        display: block;
        position: relative;
        z-index: 5;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: .3s linear;
    }

.nav-menu-btn > svg {
    
    font-size: 40px;
}

    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        align-items: center;
        background: var(--bg-transparent-color-01);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: .3s linear;
    }

    .nav.active {
        z-index: 3;
        opacity: 1;
        visibility: visible;
    }

    .nav-menu {
        position: relative;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        width: 100%;
        margin: 20px;
        padding: 40px;
        background: var(--modal-bg-color);
        border-radius: 10px;
        transform: translateY(-50%);
        transition: .3s linear;
    }

    .nav-menu.active {
        transform: translateY(0%);
    }

    .nav-menu li {
        text-align: center;
    }
}